$zero: 0;
$def-5: 5px;
$def-10: $def-5 * 2;
$def-15: $def-5 *3;
$def-17: 17px;
$def-20: $def-10 * 2;
$def-25: $def-5 * 5;
$def-30: $def-10 * 3;
$def-35: $def-5 * 7;
$def--35:-35px;
$def-40: $def-5 * 8;
$def-100: $def-20 * 5;
$def-50: $def-5 * 10;
